@import "base/module";
@import "utils/module"; //general styles

html {
  -webkit-font-smoothing: antialiased;
}
body {
  color: $primary-color;
  box-sizing: border-box;
  text-align: center;
  overflow-x: hidden;
  font-family: $main-font;
}
//section style

.section-separator {
  border-bottom: 1px solid #E0E6ED;
}
// navbar style

.e-navbar {
  margin: 0;
  padding: 10px 5px;
  width: 100%;
  list-style: none;
  display: flex;
  position: fixed;
  box-shadow: 2px 2px 10px 0 #E0E6ED;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  transition: all 0.4s ease;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  background-color: #FAFAFA;
  z-index: 1000;

  a {
    display: block;
    padding: 6px 12px;
    color: #626366;
    text-decoration: none !important;
  }

  a:hover {
    color: #999999;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  @include breakpoint(tablet) {
    font-size: 1.5em;
    justify-content: flex-end;
  }
}

.e-nav-transparent {
  display: none;

  a {
    color: #fff;
  }
}
//header style

.e-header {
  background: #1e1e21;
  background-image: radial-gradient(farthest-side at top left,red 0,rgba(0,0,0,0) 100%);
  background-repeat: no-repeat;
  background-position: top center;
  color: #f9f9f9;
  height: 100vh;
}

.e-title {
  font-size: 2em;
  padding: 15px;
  font-weight: bold;
  @include breakpoint (tablet) {
    font-size: 3em;
  }
}

.e-title-row2 {
  font-size: 1em;
  @include breakpoint (tablet) {
    font-size: 3em;
  }
}

.e-arrow-down {
  animation-name: pulse;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
//main body style

.e-area-title {
  font-size: 2em;
  font-weight: 800;
  @include breakpoint (tablet) {
    font-size: 3em;
  }
}
//projects style

.proj-img {
  width: 500px;
  height: 200px;
}
//skills style

.e-skills-subtitle {
  font-size: 1.6em;
}

.dev-icons {
  img {
    width: 100px;
    height: auto;
    padding: 15px;
    transition: 0.5s ease;
  }
}

.dev-icons img:hover {
  animation-name: rotate;
  animation-duration: 2s;
}
//about style

.e-about {
  align-items: center;
}

.profile-img {
  height: 200px;
  width: 200px;
  padding: 0;
}

#about .row2 {
  text-align: left;
  font-size: 1em;
  line-height: 1.3;
  @include breakpoint (tablet) {
    font-size: 1.3em;
  }
}

.e-footer {
  overflow: hidden;
}

.e-social {
  justify-content: center;
}
