@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Nunito');

$body-font: 'Quicksand', sans-serif;

$title-font: 'Roboto', sans-serif;

$subtitle-font: 'Nunito', sans-serif;
